<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Zovs {{ title }}!
  </h1>
</div>
<div style="text-align:center"><h2>Hello</h2>Don Lazov</div>
<nav>
  <ul>
    <li><a href="" [routerLink]="['/dashboard']">Dashboard</a></li>
    <li><a href="" [routerLink]="['/customer']">Customer</a></li>
    <li><a href="" [routerLink]="['/admin']">Admin --> Users</a></li>
    <li><a href="" [routerLink]="['/admin/blast']">Admin --> Blast</a></li>
  </ul>
</nav>

<!-- <button mat-raised-button color="primary">ok</button> -->

<!-- <button mat-raised-button color="primary">ok<mat-icon>done</mat-icon></button>

<button mat-raised-button>Cancel</button>

<button mat-icon-button color="primary">OKay
  <mat-icon class="material-icons">keyboard_arrow_left</mat-icon>
</button> -->

<!-- <i class="material-icons">face</i> -->

<router-outlet></router-outlet>
